name: Deploy to Firebase Hosting
on:
  push:
    branches:
      - upgrades_20251227
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_WEDDING_RSVP_19062026 }}'
          channelId: live
          projectId: wedding-rsvp-19062026
